@keyframes rotate{
  0%{
      transform: none;
  }
  100% {
      transform: rotate(1turn);
  };
}

.LoaderWrapper {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.Loader{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #dcefff;
  border-top: 3px solid var(--red);
  animation: rotate 2s infinite ease
}
