.SectionTitle {
  color: var(--red);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  padding-bottom: 5px;  
  position: relative;
}

.SectionTitle::before {
  background-color: red;
  content: '';
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 200px;
  bottom: 0;
}
