.HeroCard {
  width: 45%;
  border: 1px solid rgba(0,0,0, 0.4);
}

.HeroCard-header {
  width: 100%;
  height: 150px;
  background: var(--red);
}

.HeroCard-content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.HeroCard-content a:hover {
  color: var(--red);
  text-decoration: underline;
}
